[submodule "frontend/src/shared"]
	path = frontend/src/shared
	url = https://gitlab.com/adata-codelise/adata-shared
	branch = master
[submodule "backend/src/shared"]
	path = backend/src/shared
	url = https://gitlab.com/adata-codelise/adata-shared
	branch = master
