<div class="container" [class.full-screen]="fullScreen">
  <a [routerLink]="['/browser']">
    <div class="go-back">
      <div class="go-back__icon">
        <cle-icon name="arrow-w"></cle-icon>
      </div>

      <div class="go-back__text">back to browser</div>
    </div></a
  >
  <div *ngIf="visualization; else loading">
    <div *ngIf="!fullScreen" class="title spacing">
      {{ visualization.title }}
    </div>
    <div *ngIf="!fullScreen" class="description spacing">
      {{ visualization.description }}
    </div>

    <div class="spacing">
      <adata-fb-like></adata-fb-like>
    </div>

    <div class="visualization">
      <adata-visualization
        [visualization]="visualization"
        interaction
        class="adata-visualization"
      ></adata-visualization>
    </div>
  </div>
  <div *ngIf="!fullScreen && visualization">
    <a [routerLink]="['/', 'visualization', visualization.id, 'edit']"
      ><cle-button value="Edit Visualization" icon="pen-2"></cle-button
    ></a>
  </div>
  <ng-template #loading>
    <div class="flex-center container-gutter">
      <cle-loader text="Loading visualization..."></cle-loader>
    </div>
  </ng-template>
</div>
