@import 'src/app/common/style/variables';

.search__container__container {
  height: 100%;
}

.search__container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  padding: 0 $space10;
}

.search {
  width: 100%;
  max-width: 300px;
}
