@import 'src/app/common/style/variables';

.container {
  display: flex;
  justify-content: center;

  margin: 0 auto;
  padding: 0 $space40 $space40;
}

.header {
  display: flex;
  align-items: center;

  margin: $space40 0;
}

.add-dimension__button {
  margin-left: $space40;
}

.dimensions-list {
  width: 800px;
}

.add-dimension {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-field {
  margin-bottom: $space30;
}
