$bp-mobile-s: '(max-width: 400px)';
$bp-mobile: '(max-width: 479px)';
$bp-tablet: '(min-width: 480px) and (max-width: 1024px)';

$bp-st-desktop: '(max-width: 1024px)';
$bp-desktop: '(min-width: 1025px)';
