$colorPrimary: rgb(100, 100, 255);
$colorDanger: rgb(255, 50, 50);
$colorSuccess: rgb(88, 178, 61);

$colorWhite: rgba(255, 255, 255, 1);
$colorGreyLight: #eeeeee;
$colorGrey: #e0e0e0;
$colorGreyDark: #9f9f9f;
$colorGreyTransparent: rgba(152, 152, 152, 0.5);
$colorBlackLight: rgba(51, 51, 51, 1);
$colorBlack: rgba(0, 0, 0, 1);

$colorBackground: $colorWhite;
$colorFontNormal: rgba(0, 0, 0, 1);
$colorFontGrey: $colorGreyDark;
