$fontFamilyNormalUrl: 'https://fonts.googleapis.com/css?family=Open+Sans:400,600,700';
$fontFamilyNormal: 'Open Sans', sans-serif;
$fontWeightNormal: 400;
$fontWeightSemiBold: 600;
$fontWeightBold: 700;

$fontSize10: 10px;
$fontSize12: 12px;
$fontSize14: 14px;
$fontSize18: 18px;
$fontSize24: 24px;
$fontSize36: 36px;
$fontSizeNormal: $fontSize14;
$fontSizeInput: $fontSize14;

$fontLetterSpacing25: 0.25em;

$fontLineHeightNormal: 1.5;
