$sizeMinimalTouchArea: 45px;

$sizeHeader: 60px;

$sizeButtonHeight: 42px;

$sizeBorder: 2px;
$sizeBorderThin: 1px;
$sizeBorderThick: 3px;
$sizeBorderRadius: 5px;

$sizeLoader: 60px;
$sizeLoaderSmall: 40px;
$sizeLoaderTiny: 20px;

$sizeIcon: 24px;
$sizeIconSmall: 20px;
$sizeIconMedium: 32px;
