@import 'src/app/common/style/variables.scss';

.table {
  width: 100%;

  background: $colorBackground;
  border-radius: $sizeBorderRadius;
}

.column {
  flex-basis: 0;
  flex-grow: 1;

  display: flex;
  align-items: center;
  justify-content: center;
  &.align--left {
    justify-content: flex-start;
  }

  overflow: hidden;
}

$tableRowBorder: solid 1px $colorGrey;

.header {
  display: flex;
  align-items: center;

  border-bottom: $tableRowBorder;
}

.header__column {
  padding: $space20;

  font-weight: $fontWeightBold;
  font-size: $fontSize12;
  text-transform: uppercase;
}

.body__row {
  position: relative;
  display: flex;

  &:not(:last-child) {
    border-bottom: $tableRowBorder;
  }
}

.body__row__loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba($colorBackground, $opacityLightlyFilled);
}

.body__row__column {
  padding: $space20;

  .grey {
    color: $colorFontGrey;
  }

  .primary {
    color: $colorPrimary;
  }

  .danger {
    color: $colorDanger;
  }

  .small {
    font-size: $fontSize12;
  }
}

.rows__loader {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: $space20;
}

.rows__loader__text,
.body__row__loader__text {
  margin-left: $space20;

  font-size: $fontSize12;
  font-weight: $fontWeightBold;
  text-transform: uppercase;

  color: $colorPrimary;
}
