<div class="hamburger" fxLayoutAlign="center center">
  <div class="hamburger__lines">

    <div class="hamburger__line hamburger__line--top"
    [class.active]="active"
    [class.inactive]="active === false"></div>

    <div class="hamburger__line hamburger__line--middle"
    [class.active]="active"
    [class.inactive]="active === false"></div>

    <div class="hamburger__line hamburger__line--bottom"
    [class.active]="active"
    [class.inactive]="active === false"></div>

  </div>
</div>

