<div class="container" [formGroup]="group">
  <ng-select
    class="input-field input-field--ng-select"
    [items]="items"
    [clearable]="!required"
    [searchable]="searchable"
    [id]="controlName"
    [formControlName]="controlName"
    [class.invalid]="
      group.controls[controlName].touched && group.controls[controlName].invalid
    "
    [class.empty]="!group.controls[controlName].value"
    [class.small]="size === null || size === undefined || size === 'small'"
    [class.large]="size === 'large'"
    [class.fill]="size === 'fill'"
    [placeholder]="placeholder || ''"
    [class.icon__placeholder]="icon"
    [bindLabel]="bindLabel"
    [bindValue]="bindValue"
    [virtualScroll]="infiniteScroll"
    [loading]="loading || infiniteScrollAPILoading"
    (scrollToEnd)="onScrollToEnd()"
    (search)="onSearch($event)"
    (clear)="onClear()"
    (change)="onChange($event)"
  >
    <ng-template *ngIf="infiniteScroll" ng-header-tmp>
      <small
        >Loaded
        {{
          ScrollItems.max -
            (ScrollItems.max / ScrollItems.responseSize -
              ScrollItems.infiniteScrollPage +
              1) *
              ScrollItems.responseSize || 0
        }}
        of {{ ScrollItems.max }}</small
      >
    </ng-template>
  </ng-select>
  <div *ngIf="icon" class="icon__container">
    <div class="icon">
      <cle-icon [name]="icon" small></cle-icon>
    </div>
  </div>
  <label *ngIf="label" class="input-label__container" [for]="controlName">
    <div class="input-label">{{ label }}</div>
  </label>
</div>

<adata-form-error
  [group]="group"
  [controlName]="controlName"
  [errorMessageFieldRequired]="errorMessageFieldRequired"
  [errorMessageForbiddenValues]="errorMessageForbiddenValues"
></adata-form-error>
