<div class="form__container">
  <div class="spacing">
    <adata-form-select
      class="select"
      size="large"
      [group]="newVisualizationCreatorForm"
      controlName="matrix"
      placeholder="Choose Data"
      searchable="1"
      bindLabel="name"
      bindValue="id"
      icon="c-add"
      [inifiniteScrollConfig]="{
        api: '/matrix/search',
        pipe: generateMatrixName
      }"
      (change)="onAdd($event)"
    >
    </adata-form-select>
    <adata-form-error
      errorMessage="Please choose at least 1 data"
      [force]="
        visualization.matrices.length === 0 && newVisualizationCreatorForm.dirty
      "
    ></adata-form-error>
  </div>

  <div class="container__badge spacing">
    <div
      *ngFor="let mx of visualization.matrices; let index = index"
      class="badge"
    >
      <adata-matrix-badge
        [color]="mx.color"
        [title]="mx.matrix.name"
        (change)="onColorChanged($event, index)"
        (remove)="onRemoveMatrix(index)"
      ></adata-matrix-badge>
    </div>
  </div>

  <div class="spacing">
    <div
      *ngIf="
        visualization && visualization.x && visualization.y && !visualization.y2
      "
      class="axe-switch"
    >
      <button
        class="axe-switch__button"
        type="button"
        (click)="swapXAndYAxis()"
      >
        Switch X and Y axis
      </button>
    </div>
    <div
      *ngIf="
        visualization && visualization.x && visualization.y && visualization.y2
      "
      class="axe-switch"
    >
      <button
        class="axe-switch__button"
        type="button"
        (click)="swapXAndYAxis()"
      >
        Switch Y and Y2 axis
      </button>
    </div>

    <div *ngIf="0 !== visualization.matrices.length" class="visualization">
      <adata-visualization
        [visualization]="visualization"
        interaction
      ></adata-visualization>
    </div>
  </div>

  <div
    *ngIf="0 === visualization.matrices.length"
    class="spacing visualization__mock__container"
  >
    <div class="attention__container">
      <div class="attention__arrow">
        <svg
          class="attention__arrow__svg"
          viewBox="0 0 232 269"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g class="attention__arrow__svg__g">
            <path
              d="M227 264C168.305 252.032 115.666 219.859 78.246 173.084C40.8248 126.308 20.9922 67.89 22.2 8"
            />
            <path d="M23 7L6.03229 23.5548" />
            <path d="M22 7L38.7254 22.6471" />
          </g>
        </svg>
      </div>
      <div class="attention__text">Please choose your data...</div>
    </div>

    <div class="visualization__mock">
      <adata-visualization-mock></adata-visualization-mock>
    </div>
  </div>
  <div class="spacing input">
    <adata-form-input
      size="fill"
      [group]="newVisualizationCreatorForm"
      controlName="title"
      placeholder="Title"
    ></adata-form-input>
  </div>
  <div class="spacing textarea">
    <adata-form-textarea
      type="textarea"
      size="fill"
      [group]="newVisualizationCreatorForm"
      controlName="description"
      placeholder="Description"
    >
    </adata-form-textarea>
  </div>

  <div class="spacing">
    <div *ngIf="authService.getUser && !edit">
      <cle-button
        icon="migration"
        value="SAVE & PUBLISH"
        type="button"
        [disabled]="!authService.getUser && !edit"
        long
        (click)="onSubmit()"
      ></cle-button>
    </div>
    <div *ngIf="!authService.getUser && !edit">
      <div class="log-in-message">
        Please <span class="log-in-message__cta">sign in</span>, to save your
        visualization.
      </div>
    </div>
  </div>

  <div class="spacing">
    <div class="edit__button--group" *ngIf="edit && visualization">
      <div
        *ngIf="
          authService.getUser &&
            visualization.user &&
            authService.getUser.id === visualization.user.id;
          else saveVisualization
        "
      >
        <cle-button
          icon="migration"
          value="UPDATE"
          type="button"
          [disabled]="!authService.getUser && edit"
          long
          (click)="updateVisualization()"
        ></cle-button>
      </div>
      <ng-template #saveVisualization>
        <cle-button
          icon="migration"
          value="SAVE & PUBLISH"
          type="button"
          [disabled]="!authService.getUser && edit"
          long
          (click)="onSubmit()"
        ></cle-button>
      </ng-template>
    </div>
    <div *ngIf="!authService.getUser && edit">
      <div class="log-in-message">
        Please <span class="log-in-message__cta">sign in</span>, to save your
        visualization.
      </div>
    </div>
  </div>

  <div class="spacing">
    <a
      *ngIf="visualization && visualization.id"
      class="cancel__button"
      [routerLink]="['/', 'visualization', visualization.id]"
    >
      <cle-button value="cancel" type="button" neutral></cle-button>
    </a>
  </div>

  <div
    *ngIf="
      edit &&
      authService.getUser &&
      visualization.user &&
      authService.getUser.id === visualization.user.id
    "
    class="spacing"
  >
    <button class="remove-button" type="button" (click)="openRemoveModal()">
      Remove
    </button>

    <cle-modal #removeVisualizationModal [title]="removeModalTitle">
      <cle-button
        type="button"
        value="Remove"
        danger="1"
        (click)="removeVisualization()"
      ></cle-button>
      <cle-button
        class="cancel__remove"
        type="button"
        value="Nope"
        neutral
        (click)="closeRemoveModal()"
      ></cle-button>
    </cle-modal>
  </div>
</div>
